<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>

<title>Start the app</title>
<div id="form-main">
    <div id="form-div">
        <div class="section">
            <h2>
                Start the app
            </h2>
        </div>
        <div class="section">
            Current status: {{intake}}
        </div>
        <div class="section">
            Current label: {{label}}
            <br>
        </div>

        <div id="content">
            <form method="post" action="{{ url_for('startstop') }}">
                <label for="label" class="section">New label:</label>
                <input type="text" class="feedback-input" name="label" value={{label}}><br />                 
                <div class="submit">
                <input type="submit" value="Start" id="button-blue" name="button"/>
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>
</div>