<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>

<title>Stop the App</title>
<div id="form-main">
    <div id="form-div">
        <div class="section">
            <h2>
                Stop the app
            </h2>
        </div>
        <div class="section">
            Current status: {{intake}}
        </div>
        <div class="section">
            Current label: {{label}}
            <br>
        </div>

        <div id="content">
            <form method="post" action="{{ url_for('startstop') }}">
                <input type="submit" value="Stop" id="button-blue" name="button"/>
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>
</div>